body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: #4b7c2a;
  color: #fff;
  padding: 1em 0;
  text-align: center;
  padding-bottom: 0;
}

nav {
  background: #4b7c2a;
  color: #fff;
  padding: 0.6em 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

img#logo {
  width: 70%;
  height: auto;
  max-width: 200px;
}

header > h1 {
  margin-bottom: 0;
}

div#footer_title {
  background: #4b7c2a;
  color: #fff;
  padding: 0.6em 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 0.3rem;
  background-color: #1e3026;
  overflow-x: hidden;
}

section {
  margin: 2rem 0;
  box-shadow: black 0px 0px 12px -5px;
  background-color: #88b46b;
  border-radius: 10px;
}

section > div {
  padding: 0.3em;
}

a {
  background-color: #163800;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 0.2em;
  border: solid 1px black;
  box-shadow: black 0px 0px 12px -5px;
  border-radius: 10px;
}

a#prenota-button {
  font-size: 1.4rem;
  padding: 0.3em;
}

div#contatti {
  position: sticky;
  top: 0;
  background: #4b7c2a;
}

.galleria {
  position: relative;
  width: 100%;
  max-width: 991px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: black 0px 0px 12px -5px;
}

.galleria-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.galleria-item {
  min-width: 100%;
  box-sizing: border-box;
}

.galleria-item img {
  width: 100%;
  display: block;
}

.galleria-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2em;
  padding: 10px;
  cursor: pointer;
}

.galleria-control:active {
  background-color: rgba(0, 0, 0, 0.781);
}

.galleria-control.prev {
  left: 10px;
}

.galleria-control.next {
  right: 10px;
}

.carousel-indicators {
  position: absolute;
  left: 37%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: white;
}

footer {
  background: #4b7c2a;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

@media screen and (max-width: 991px) {
  //div#foto {
    //padding: 0 !important;
  //}
}
