body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #ad765c;
}

header {
  background: #ad765c;
  color: #fff;
  padding: 1em 0;
  text-align: center;
  padding-bottom: 0;
}

nav {
  background: #ad765c;
  color: #fff;
  padding: 0.6em 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

img#logo {
  width: 70%;
  height: auto;
  max-width: 200px;
}

header > h1 {
  margin-bottom: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 0.3rem;
  background-color: #8b7c6b;
}

section {
  margin: 2rem 0;
  box-shadow: black 0px 0px 12px -5px;
  border-radius: 10px;
}

section > div {
  padding: 0.3em;
}

section {
  position: relative;
  color: white;
  overflow: hidden;
  background-color: #0000003b;
}

section::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/camera1/IMG_9557.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
  transition-duration: 1000ms;
  transition-property: all;
}

section:hover::before {
  content: "";
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  background-image: url("../assets/img/camera1/IMG_9557.jpg"); /* URL dell'immagine di sfondo */
  background-size: cover; /* Rende l'immagine di sfondo coprire l'intera sezione */
  background-position: center; /* Centra l'immagine di sfondo */
  background-repeat: no-repeat;
  position: absolute;
  filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

section > * {
  position: relative;
  z-index: 2;
  text-shadow: black 0px 0px 12px;
  background-color: rgba(0, 0, 0, 0.247);
}

a {
  color: white;
  font-weight: bold;
  padding: 0.2em;
  text-shadow: black 0px 0px 12px;
}

a#prenota-button {
  font-size: 1.5rem;
  padding: 0.3em;
}

div#contatti {
  position: sticky;
  top: 0;
  background: #4b7c2a;
}

.galleria {
  position: relative;
  width: 100%;
  max-width: 991px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: black 0px 0px 12px -5px;
}

.galleria-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.galleria-item {
  min-width: 100%;
  box-sizing: border-box;
}

.galleria-item img {
  width: 100%;
  display: block;
}

.galleria-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2em;
  padding: 10px;
  cursor: pointer;
}

.galleria-control:active {
  background-color: rgba(0, 0, 0, 0.781);
}

.galleria-control.prev {
  left: 10px;
}

.galleria-control.next {
  right: 10px;
}

.carousel-indicators {
  position: absolute;
  left: 37%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: white;
}

footer {
  background: #ad765c;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

div#footer_title {
  background: #ad765c;
  color: #fff;
  padding: 0.6em 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.small {
  width: calc(100% + 0.6rem);
  overflow: scroll;
  position: relative;
  left: 0;
  left: 0.4rem;
  margin-bottom: 20px;
}

.small img {
  width: 85%;
  margin-right: 10px;
  position: relative;
  box-shadow: black 0px 0px 12px -5px;
}

@media screen and (max-width: 991px) {
  .large {
    display: none;
  }
}
@media screen and (min-width: 991px) {
  .small {
    display: none;
  }
}
