body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #ad765c;
}

header {
  background: #ad765c;
  color: #fff;
  padding: 1em 0;
  text-align: center;
  padding-bottom: 0;
}

nav {
  background: #ad765c;
  color: #fff;
  padding: 0.6em 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

img#logo {
  width: 70%;
  height: auto;
  max-width: 200px;
}

header > h1 {
  margin-bottom: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 0.3rem;
  background-color: #8b7c6b;
}

section {
  margin: 1rem 0;
  box-shadow: black 0px 0px 12px -5px;
  border-radius: 10px;
  position: relative;
  color: white;
  overflow: hidden;
}

section > div {
  padding: 0.3em;
}

section::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

#about::before {
  background-image: url("../assets/img/salone/IMG_9567.jpg");
}

#rooms::before {
  background-image: url("../assets/img/camera1/IMG_0062.jpg");
}

#services::before {
  background-image: url("../assets/img/servizi/IMG_8485.jpg");
}

section > * {
  position: relative;
  z-index: 2;
  text-shadow: black 0px 0px 12px;
  background-color: rgba(0, 0, 0, 0.247);
}

a {
  color: white;
  font-weight: bold;
  padding: 0.2em;
  text-shadow: black 0px 0px 12px;
}

a:hover {
  color: #a8b5b7;
}

a#prenota-button {
  font-size: 1.5rem;
  padding: 0.3em;
}

div#contatti {
  position: sticky;
  top: 0;
  background: #4b7c2a;
}

.galleria {
  position: relative;
  width: 100%;
  max-width: 991px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: black 0px 0px 12px -5px;
}

.galleria-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.galleria-item {
  min-width: 100%;
  box-sizing: border-box;
}

.galleria-item img {
  width: 100%;
  display: block;
}

.galleria-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  font-size: 2em;
  padding: 10px;
  cursor: pointer;
}

.galleria-control:active {
  background-color: rgba(0, 0, 0, 0.781);
}

.galleria-control.prev {
  left: 10px;
}

.galleria-control.next {
  right: 10px;
}

.carousel-indicators {
  position: absolute;
  left: 37%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
}

.indicator {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.indicator.active {
  background-color: white;
}

footer {
  background: #ad765c;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

div#footer_title {
  background: #ad765c;
  color: #fff;
  padding: 0.6em 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.small {
  width: calc(100% + 0.6rem);
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
  left: 0.4rem;
  margin-bottom: 30px;
  padding: 0 0.5em;
}

.small::-webkit-scrollbar {
  display: none;
}

.small img {
  width: 85%;
  margin-right: 20px;
  position: relative;
  box-shadow: black 0px 0px 12px -5px;
}

.pic-title {
  color: white;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
}

.pic-title span:last-of-type {
  align-self: center;
}

#camera1_page {
  display: none;
}

#camera2_page {
  display: none;
}

#salone_page {
  display: none;
}

#servizi_page {
  display: none;
}

.camera-page img {
  margin-bottom: 10px;
}

.camera-page .show-less {
  margin: 20px 0;
  font-size: 1.2rem;
}

.booking-site {
  margin-top: 10px;
  width: fit-content;
  text-align: left;
}

.a-more {
  text-decoration: none;
  background-color: white;
  border-radius: 7px;
  text-shadow: none;
  color: black;
  box-shadow: black 0px 0px 12px -5px;
  font-size: 0.9rem;
}

#whatstapp {
  width: min-content;
  font-size: 3rem;
  color: white;
  position: fixed;
  right: 4px;
  bottom: 60px;
  z-index: 1010;
  box-shadow: black 0px 0px 12px -5px;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .large {
    display: none;
  }

  section .more {
    display: none;
  }
}
@media screen and (min-width: 991px) {
  .small,
  .t-small.pic-title {
    display: none;
  }

  #main_page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Distribuisce le sezioni uniformemente */
    gap: 1em; /* Spazio tra le sezioni */
    padding: 1em;
  }

  section {
    flex: 1 1 calc(50% - 20px); /* Imposta ogni sezione per occupare il 50% della larghezza del contenitore meno lo spazio per il gap */
  }

  section > div {
    height: 100%;
  }

  .section-more {
    display: none;
  }
}
